<footer class="nk-footer bg-theme-alt" id="contact">
    <div class="section section-footer section-s tc-light bg-transparent">
        <div class="container">
            <!-- Block @s -->
            <div class="nk-block block-footer">
                <div class="row">
                    <div class="col">
                        <div class="wgs wgs-text text-center mb-3">
                            <!--<ul class="social pdb-m justify-content-center">
                                <li><a href="#"><em class="social-icon fab fa-facebook-f"></em></a></li>
                                <li><a href="#"><em class="social-icon fab fa-twitter"></em></a></li>
                                <li><a href="#"><em class="social-icon fab fa-youtube"></em></a></li>
                                <li><a href="#"><em class="social-icon fab fa-github"></em></a></li>
                                <li><a href="#"><em class="social-icon fab fa-bitcoin"></em></a></li>
                                <li><a href="#"><em class="social-icon fab fa-medium-m"></em></a></li>
                            </ul>-->
                            <div class="copyright-text copyright-text-s3 pdt-m">
                                <p><span class="d-sm-block">Copyright &copy; 2023 Covenant Srls. Tutti i diritti riservati.</span>P.IVA 14635081004. Via Flavia, 47 - 00187 Roma. <!--<a href="/privacy">Privacy Policy</a>.--></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- .block @e -->
        </div>
    </div>
</footer>