<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ $.Site.Language }}"> 

  <head>
    <meta charset="utf-8">
    <meta name="author" content="Covenant">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{ .Param "description" }}">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
  
{{ if .IsHome -}}
<title>{{ .Site.Title }}</title>
{{- else -}}
<title>{{ .Page.Title }}</title>
{{- end }}

<!-- Fav Icon  -->
<!-- <link rel="shortcut icon" href="/images/favicon.png"> -->
<!-- Site Title  -->
<!--<title>{{$.Title}}</title>-->
<!-- Bundle and Base CSS -->
<link rel="stylesheet" href="/css/vendor.bundle.css?ver=200">
<link rel="stylesheet" href="/css/style.css?ver=200">
<!-- Extra CSS -->
<link rel="stylesheet" href="/css/theme.css?ver=200"><link rel="stylesheet" href="/css/style-dark.css?ver=200">
<style>
  .header-navbar-s1 .menu > .menu-item > a {font-size: 18px;}
  .row.tech {justify-content: center;}
  .hide {display:none !important;}
  .menu-link.active {color:#46bdf4 !important}
</style>
</head>